body{
    background-color: blanchedalmond;
}
h1 {
    background-color: rgb(209, 189, 160);
    border: thick double #1a83b0;
    color: black;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
h3{
    text-align: center;
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
}
span{
    color: black;
}
.Social-Icons{
    display: flex;
    margin: 1px;
    padding: 0px;
    width: 10%;
}
.Social-Icons li{
    list-style-type: none;
    border: solid 3px black;
    margin: 2px;
}
.bottom-media{
    position: absolute;
    left: 0;
    bottom: 0;
}
.headshot-parent{ 
    /*add sliding movement here */
    display: flex;
}
.headshot-child{
    border: solid black 1px;
}
.headshot-des{
    color: black;
    font-size: 30px;
}
.headshot{
    display: flex;
    width: 150px;
    border: solid black 4px;
}
.icons{
    width: 30px;
}
.aboutme{

}
.projects-parent{
    border: purple 2px;
    display: flex;
}
.projects-child{
    font-size: 24px;
}
.projects-icon{
    border: black 1px;
}
.attributions-p{
    display: flex;
}
.contactme-p{
    display: flex;
    margin: 1px;
    padding: 0px;
    width: 10%;
    font-size: 20px;
}
.contact-forms{
    list-style-type: none;
    margin: 2px;
    justify-content: space-around;
    font-size: 24px;;
}