body{
    background-color: blanchedalmond;
}
h1 {
    background-color: rgb(209, 189, 160);
    border: thick double #1a83b0;
    color: black;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
h3{
    text-align: center;
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
}
span{
    color: black;
}
.Social-Icons{
    display: flex;
    margin: 1px;
    padding: 0px;
    width: 10%;
}
.Social-Icons li{
    list-style-type: none;
    border: solid 3px black;
    margin: 2px;
}
.bottom-media{
    position: absolute;
    left: 0;
    bottom: 0;
}
.