body{
    background-color: blanchedalmond;
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
h1 {
    background-color: rgb(209, 189, 160);
    border: thick double #1a83b0;
    color: black;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    animation-name: example;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
h3{
    text-align: center;
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
}
span{
    color: black;
}
.Social-Icons{
    display: flex;
    margin: 1px;
    padding: 0px;
    width: 10%;
}
.Social-Icons li{
    list-style-type: none;
    border: solid 3px black;
    margin: 2px;
}
.bottom-media{
    position: absolute;
    left: 0;
    bottom: 0;
}
.grandpa{
    position: relative;
    height: 200px;
    
}
.headshot-parent{
    display: flex;
    animation-name: slide-right;
    overflow:hidden;
    animation-duration: 3s;
}
.headshot-child{
    border: solid black 1px;
}
.headshot-des{
    color: black;
    font-size: 30px;
}
.headshot{
    display: flex;
    width: 150px;
    border: solid black 4px;
}
.icons{
    width: 30px;
}

.projects-parent{
    border: purple 2px;
    display: flex;
    animation-name: slide-right-pr;
    overflow:hidden;
    animation-duration: 3s;
}
.projects-child{
    font-size: 24px;
}
.projects-icon{
    border: black 1px;
}
.attributions-p{
    display: flex;
    animation-name: slide-right-at;
    overflow:hidden;
    animation-duration: 3s;
}
.contactme-p{
    display: flex;
    margin: 1px;
    padding: 0px;
    width: 10%;
    font-size: 20px;
    animation-name: slide-right-cm;
    overflow:hidden;
    animation-duration: 3s;
}
.contact-forms{
    list-style-type: none;
    margin: 2px;
    justify-content: space-around;
    font-size: 24px;;
}
.contact-icon{}

@keyframes example {
    from {background-color: blanchedalmond;}
    to {background-color: rgb(198, 206, 156);}
  }


@keyframes slide-right-hs {
  from {
    margin-left: -100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slide-right-pr {
    from {
      margin-left: -100%;
      width: 300%; 
    }
  
    to {
      margin-left: 5%;
      width: 100%;
    }
  }

  @keyframes slide-right-cm {
    from {
      margin-left: -100%;
      width: 300%; 
    }
  
    to {
      margin-left: 10%;
      width: 100%;
    }
  }

  @keyframes slide-right-at {
    from {
      margin-left: -100%;
      width: 300%; 
    }
  
    to {
      margin-left: 15%;
      width: 100%;
    }
  }